<% if user_signed_in? %>
  <div class="text-center">
    <h1><%= link_to("Start tracking habits!", habits_path) %></h1>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome To Your Habits Tracker</h1>

    <h2>Track your activities, create positive habits!</h2>
    <%= link_to "Sign up now!", 'users/sign_up', class: "btn btn-lg btn-primary" %>
    
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>"HabitsTracker made me superproductive!"</h4>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <p class="text-left">-John Doe</p>
      </div>
      <div class="col-md-4">
        <h4>"Can't live without HabitsTracker"</h4>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <p class="text-left">-John Doe</p>
      </div>
      <div class="col-md-4">
        <h4>"HabitsTracker has made my life easier."</h4>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <p class="text-left">-Patrick Larose</p>
      </div>
    </div>
  </div>
<% end %>